@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-50;
}
body{
  background-image: url('https://media.istockphoto.com/id/1300657889/photo/calendar-on-solid-blue-background-with-copy-space-business-meeting-schedule-travel-planning.jpg?s=170667a&w=0&k=20&c=c3KWSmJpdYY1CU8ko3N5L1hfEi3OPrCH8dETEwvd28w=')
}
nav{
  background-color: rgb(107, 152, 230)
}
h2{
  color: brown;
  border: 1px solid brown;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px 20px

  
}


input {
  @apply px-2;
}


  .fc-header-toolbar {
    display: inline-block;
    padding: 4px 4px;
    
    @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100 ;
}

.fc .fc-button{
  @apply bg-violet-800 hover:bg-violet-900  ;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}
